.row
  .offset-sm-2.col-sm-8.col-12
    .jumbotron
      %h2.display-4
        Log in to MyApp

      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.error_notification

        .form-inputs
          = f.input :email, autofocus: true
          = f.input :password

          - if devise_mapping.rememberable?
            = f.check_box :remember_me
            = f.label :remember_me

        .form-actions.clearfix
          = f.submit "Log in", class: 'btn btn-success float-right'

      %p.mt-2
        = render "devise/shared/links"
